#!/bin/bash

if ! command -v age &>/dev/null; then
{{ if eq .osid "linux-ubuntu" }}
    sudo apt install -y age
{{ end }}
fi

if [ ! -f "$HOME/.config/key.txt" ]; then
    age --decrypt --output "$HOME/.config/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$HOME/.config/key.txt"
fi
