{{- if eq .osid "windows" -}}
if (!(choco list -e age.portable)) {
  choco install age.portable -y
}

if (!(Test-Path "$env:USERPROFILE/.config/key.txt")){
  age --decrypt --output "$env:USERPROFILE/.config/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
}
{{ end }}
