{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

{{ if or (eq .osid "linux-ubuntu") (eq .osidLike "linux-ubuntu") }}
BAT_VER=$(curl --silent "https://api.github.com/repos/sharkdp/bat/releases/latest" | jq -r .tag_name | tr -d v)
if ! bat --version | grep -q "$BAT_VER"; then
  case $(uname -m) in
  x86_64) ARCH=amd64 ;;
  i386 | i686) ARCH=i686 ;;
  *) ARCH= ;;
  esac
  if [ -n "$ARCH" ]; then
    TEMP_FOLDER=$(mktemp -d)
    trap 'rm -rf "$TEMP_FOLDER"' EXIT
    wget -O "$TEMP_FOLDER/bat.deb" -q "https://github.com/sharkdp/bat/releases/download/v${BAT_VER}/bat_${BAT_VER}_${ARCH}.deb"
    DEBIAN_FRONTEND=noninteractive sudo apt-get install -y "$TEMP_FOLDER/bat.deb"
  fi
fi
{{ end }}
