#!/bin/bash

{{ if eq .osid "linux-ubuntu" }}
{{ template "install_ubuntu.sh" . }}
{{ template "style.sh" . }}
{{ else if eq .osid "android" }}
{{ template "install_termux.sh" . }}
{{ end }}

{{ if ne .osid "android" }}
{{ template "setup.sh" . }}
{{ end }}

if grep -q "https" {{ .chezmoi.sourceDir }}/.git/config; then
  git -C {{ .chezmoi.sourceDir }} remote set-url origin "git@github.com:haroldojunios/dotfiles.git"
fi
