{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $osidLike := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osidLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- else if hasKey .chezmoi.osRelease "id" -}}
{{-   $osidLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isWSL := false -}}
{{- if hasKey .chezmoi.kernel "osrelease" -}}
{{-   $isWSL = contains "microsoft" (lower .chezmoi.kernel.osrelease) -}}
{{- end -}}

{{- $isRasp := eq .chezmoi.username "pi" -}}

{{- $isWork := false -}}
{{- if not $isRasp -}}
{{- $isWork := promptBoolOnce . "isWork" "Is this an work machine" -}}
{{- end -}}

{{- $isServer := false -}}
{{- if $isWork -}}
{{- $isServer = promptBoolOnce . "isServer" "Is this an server machine" -}}
{{- end -}}

{{- $installDE := true -}}
{{- if $isWSL -}}
{{- $installDE = false -}}
{{- else if or (eq $osid "linux-ubuntu") $isRasp (eq $osid "android") -}}
{{- $installDE = promptBoolOnce . "installDE" "Install DE" -}}
{{- end -}}

{{- $isBigScreen := false -}}
{{- $checkSize := joinPath .chezmoi.homeDir ".local/bin/get-screen-size" -}}
{{- $checkWidth := joinPath .chezmoi.homeDir ".local/bin/get-screen-width" -}}
{{- if and (eq .chezmoi.os "linux") (isExecutable $checkSize) (isExecutable $checkWidth) -}}
{{-   $isBigScreen = or (gt (output $checkSize | int) 28) (gt (output $checkWidth | int) 1920) -}}
{{- end -}}

encryption = "age"
[age]
  identity = "~/.config/key.txt"
  recipient = "age1d04ej32j97pcsctxxcm475l5z5nttp6nzd4jr57ruj45qw8hqgwqtpsdzw"
[cd]
  command = "fish"
[data]
  isBigScreen = {{ $isBigScreen }}
  installDE = {{ $installDE }}
  isRasp = {{ $isRasp }}
  isServer = {{ $isServer }}
  isWSL = {{ $isWSL }}
  isWork = {{ $isWork }}
  osid = {{ $osid | quote }}
  osidLike = {{ $osidLike | quote }}
