[user]
  email = haroldojunios@gmail.com
  name = Haroldo Júnio
[pull]
  rebase = false
[push]
  default = current
[merge]
  conflictStyle = diff3
[commit]
  verbose = true
[init]
  defaultBranch = main
[core]
  autocrlf = input
  editor = nvim
  excludesFile = {{ .chezmoi.homeDir }}/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[diff]
  colorMoved = default
[safe]
  directory = *
[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[delta]
  navigate = true
  features = catppuccin-mocha
  side-by-side = true
  line-numbers = true
[include]
  path = {{ .chezmoi.homeDir }}/.local/share/git/catppuccin.gitconfig
