[user]
	email = haroldojunios@gmail.com
	name = Haroldo Júnio
[pull]
	rebase = false
[merge]
	conflictStyle = diff3
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = code --wait
	excludesFile = {{ .chezmoi.homeDir }}/.gitignore
[safe]
	directory = *
