{{- if .isWork -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCuiWyj22usj+hlsBktPD2ZXGlKcHwI/zXlXVfhYyZls4hO/FRtSE8IVDOSfXkQJ2Hya38e8GfhEXtTuWiR5rCA1lM68BvuLfnOg4+fIPrkA1P+Q+2vvrv2DGRBa3zzT2P3KDNekZ72fUjFdEJYiX1p6vZgYkysKsuN/ZfM+/Hscpkb+zgYk8h7R9ZHB3JmfhWTm53LCo16fEXWeG1gHXLWzEoS+kTQWo7obsbBWIbwef2ZkZCjpbi1eCJ/YSKvgPrGG5QfP/KxxQy0e5A2TgKr9xWCD56zG1FI11wC6p07C5qgtNwPCv5mPTvRthd/qbOg5OTARTqubrT3VYJ0T29hsaL8s14+a1pssv12+3S1uB54dwLxG5JsIB48oFLsqyXogg89LzQOrdErxiGkut36yYQMlsC68dh1F/WX14u6lG1399eB3EZpk9hivS2IqQMqHXjl3I84vGbzXTCdZ71IpbtTq99GaOPtP5gr9LTSsHfGVtZUdc1D5U0px6dwPSos76SaSHKOMMyPE0EZ2IR6n/88M0YARVF+IphSnaxzTl9HRLwUBrYK9hoo4laidOja4fDrjEUwHfJvxwUMWKAn0BDdgbPVmrVJ3wGW4/rdXRRSmW/yZFwtKyq+l07TZn86up5OvjmU6J+9VFe+WUfZgIi8lBFlJHl+1bxp2qep2Q== haroldojunios@gmail.com
{{- else if eq .osid "android" -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWxeZEgaSXXBkm83jz3IRa65KR5iAkrih+L7K8D48MQyjOsXkZBKwWz9hn3BaKx75QWtCpbobHtfTRLJVpS+aEs8ytReSDTdakZwGGo8G/igqjbVSUia1NIPk+Rwji0R/XikI1z7vKpkLriHZY/NToos79d0y2jU1yYcVIvOqamHN9uLOZYkYMMQq49FYEYB9YN0sm14n8Nyg0O3yhUZPAOL5Yd11xzZx44AJw23ci0uaF34icoaD63TTnEf875LUA1jqBfiRwT/kOrivs+rp3e6s3DzwF7n1G/DCVQtqCYRa2lr4fMfdvJ1i0Vej4SIf95cEE0MweDQYmJH/k62kIPgwL0xnLqeZwn0aRn+1gHLHRaG6Si1CygzkfyOX/PZ1bVEUOVc4aCfz3+4NsvTQTCjdl0wXWF3xpCbpBdWubAFxZU1fwoVNN67GMlWQiWrJ5jgRkecy9ePFqLCRNTuVAsBJvL/8TYEVUcJE9b4Yr/X4xylsTglhgduc4n7jZsO1n5+n3FzqnMsf9ONJMqxS+HOs0kfdV8IWtQrGNzW7DPPMmGhV+D/i5U0scl0rN34exNhBqDVzTfuB/ykSkE27JRrd5UC1RC7SjWN98d2nRIuPr4nA5coLAxSwOzK80ropVx9tJPjFv0Z897A1iqwWOKVu80eJ/UnQJ82p1lA+83Q== haroldojunios@gmail.com
{{- else -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDMwRJ6F+kGXWBzJFXrPcnJ7j5jxGld6r5KWNSVMpp1k+6Qqm37NzKcSYd0PucxjSFiFxPcSsgYb2ERWn3tAoZlb9sgnNYdlAYdCkIOI0siD9nF4XbfKjX76af+OCE4xbd7AMSfd8xLPAh9WVi5K2ArS9ZSp755qYeAeyGqYmRROqI+TVedePuJgy7IgyHbte1MuSGE2fBWquWcm+USkJk74qXGq7SItEN6XwYi2AjAkX+DyNHGO3Qy1NfUZgAuwbd6dOKK/prLo1h72CC/4vdzzE7If49VhjXNW69ANIDbnKi0n2hOxStKbzroSaQ0sBlavoPEEuIzHGaUkKWuReOK0nBIu7i5vFXfyWWfwcHLalvmxAlb3PZQHy3czJqt6jceLhBQh6zBydna3jtCkck9vMiZJZwB0Ar67D9M7RtJgy1gXBmVdOXyM0VGb+3eymrCBbU7gqoDXgIBn4WGSPazJ8s3lsE1bzcMKAhNkoYHC/pQJggfvhdUYeRFvTypf9yiVgogdHSprnhcTbmjAwewYUTMs5QesRVoVfHxDDczXuFccESWf+wDKFW0fCty+e/oK8b4bNDEt6NrNX0l3n7pmGFDLMr4HKSCX4/KBQzQC1xSzaw5g3iMwkyzJuJ9dtIyc7pY18IlUh/OFdHWj/TtXwpIMwTPH7wHAhIdpOM0tQ== haroldojunios@gmail.com
{{- end -}}
