{{- if .isWork -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCuiWyj22usj+hlsBktPD2ZXGlKcHwI/zXlXVfhYyZls4hO/FRtSE8IVDOSfXkQJ2Hya38e8GfhEXtTuWiR5rCA1lM68BvuLfnOg4+fIPrkA1P+Q+2vvrv2DGRBa3zzT2P3KDNekZ72fUjFdEJYiX1p6vZgYkysKsuN/ZfM+/Hscpkb+zgYk8h7R9ZHB3JmfhWTm53LCo16fEXWeG1gHXLWzEoS+kTQWo7obsbBWIbwef2ZkZCjpbi1eCJ/YSKvgPrGG5QfP/KxxQy0e5A2TgKr9xWCD56zG1FI11wC6p07C5qgtNwPCv5mPTvRthd/qbOg5OTARTqubrT3VYJ0T29hsaL8s14+a1pssv12+3S1uB54dwLxG5JsIB48oFLsqyXogg89LzQOrdErxiGkut36yYQMlsC68dh1F/WX14u6lG1399eB3EZpk9hivS2IqQMqHXjl3I84vGbzXTCdZ71IpbtTq99GaOPtP5gr9LTSsHfGVtZUdc1D5U0px6dwPSos76SaSHKOMMyPE0EZ2IR6n/88M0YARVF+IphSnaxzTl9HRLwUBrYK9hoo4laidOja4fDrjEUwHfJvxwUMWKAn0BDdgbPVmrVJ3wGW4/rdXRRSmW/yZFwtKyq+l07TZn86up5OvjmU6J+9VFe+WUfZgIi8lBFlJHl+1bxp2qep2Q== haroldojunios@gmail.com
{{- else if eq .osid "android" -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAd1XFfDBRNHDO11pQoFCgnzpCfqENstFNgDp5gPsPs3bBVnWTHTmdBoGar3x7JWJtdjrhGEQFgp8EW2b5xaRzEgbcaObjMXVqsI5rHo5WKJmuRjCIl/TCHtEYPMHktSS3YfUE/TlUD+kTFVyGwqkFxYSYmIi2s0dE5KcOVCeycV9KUqq7BZB7aEMzTuQPEm4YXeTjS65r7k1DrBOv+/YOiG9RJkDTFqWVolyVVxopHVdc2mLUNJGaVGVHN/mW4e/KbbfTTuVbPzwb7hGFd0flG+4mT8Vq6whie3s6d4Fcuvg5O0l5UoOXnV8WLTm7H85sBIvq70RrHYuQnKi7ifP1OiTblAqnzxbS1bDoKRb8amJ7taseKN9BhKt2jVbOI2FjwvbIvaGN4Jrpk648xranPKO+Z6/jfLLuV6zTCK+CklsO3ZEz4UomllP4Xq6wqDFJtPGNsZMXwn+P4Qe0RSKvuX0LFQvVBN5xy4/pbwbBOEjs2LwZQcc8+Y266LMVhbRzde/d2R38f2b7YHThH6sMw43O3gNdB3PVBEyPFyDvuZaYM/Q/iCml40trPgYSa1021zHbvarjNRwcRD+kxbbmpVxy1pFJGwjldEd85bjEse2+LvXgGq2jZVLWQ0s3mjg+s8GwNioqTAdZ4UVgkZMBdVayku5wnhvgDyFa6vf4Ww== haroldojunios@gmail.com
{{- else -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDMwRJ6F+kGXWBzJFXrPcnJ7j5jxGld6r5KWNSVMpp1k+6Qqm37NzKcSYd0PucxjSFiFxPcSsgYb2ERWn3tAoZlb9sgnNYdlAYdCkIOI0siD9nF4XbfKjX76af+OCE4xbd7AMSfd8xLPAh9WVi5K2ArS9ZSp755qYeAeyGqYmRROqI+TVedePuJgy7IgyHbte1MuSGE2fBWquWcm+USkJk74qXGq7SItEN6XwYi2AjAkX+DyNHGO3Qy1NfUZgAuwbd6dOKK/prLo1h72CC/4vdzzE7If49VhjXNW69ANIDbnKi0n2hOxStKbzroSaQ0sBlavoPEEuIzHGaUkKWuReOK0nBIu7i5vFXfyWWfwcHLalvmxAlb3PZQHy3czJqt6jceLhBQh6zBydna3jtCkck9vMiZJZwB0Ar67D9M7RtJgy1gXBmVdOXyM0VGb+3eymrCBbU7gqoDXgIBn4WGSPazJ8s3lsE1bzcMKAhNkoYHC/pQJggfvhdUYeRFvTypf9yiVgogdHSprnhcTbmjAwewYUTMs5QesRVoVfHxDDczXuFccESWf+wDKFW0fCty+e/oK8b4bNDEt6NrNX0l3n7pmGFDLMr4HKSCX4/KBQzQC1xSzaw5g3iMwkyzJuJ9dtIyc7pY18IlUh/OFdHWj/TtXwpIMwTPH7wHAhIdpOM0tQ== haroldojunios@gmail.com
{{- end -}}
