#{{ if ne .osid "android" }}!/bin/bash{{ else }}!/data/data/com.termux/files/usr/bin/bash{{ end }}
# vim: ft=sh

if [ -x "${HOME}/.local/bin/get-screen-size" ] &&
	[ -x "${HOME}/.local/bin/get-screen-width" ]; then
	screen_size=$("${HOME}/.local/bin/get-screen-size")
	screen_width=$("${HOME}/.local/bin/get-screen-width")
	if (($(echo "${screen_size} > 27" | bc -l))) &&
		(($(echo "${screen_width} <= 1920" | bc -l))); then
		echo "font_size 8.5"
		exit
	fi
fi

echo "font_size 10"
