function Add-EnvPath {
  param(
    [Parameter(Mandatory = $true)]
    [string]$Path,

    [ValidateSet('Machine', 'User', 'Session')]
    [string]$Container = 'Session'
  )

  if ($Container -ne 'Session') {
    $containerMapping = @{
      Machine = [EnvironmentVariableTarget]::Machine
      User    = [EnvironmentVariableTarget]::User
    }
    $containerType = $containerMapping[$Container]

    $persistedPaths = [Environment]::GetEnvironmentVariable('Path', $containerType) -split ';'
    if ($persistedPaths -notcontains $Path) {
      $persistedPaths = $persistedPaths + $Path | Where-Object { $_ }
      [Environment]::SetEnvironmentVariable('Path', $persistedPaths -join ';', $containerType)
    }
  }

  $envPaths = $env:Path -split ';'
  if ($envPaths -notcontains $Path) {
    $envPaths = $envPaths + $Path | Where-Object { $_ }
    $env:Path = $envPaths -join ';'
  }
}

if (!($(Get-PackageProvider).Name -eq "NuGet")) {
  Install-PackageProvider -Name NuGet -Force -Scope CurrentUser
}

if (!($(Get-InstalledModule).Name -eq "PowerShell-Beautifier")) {
  Install-Module -Name PowerShell-Beautifier -Force -Scope CurrentUser
}

# update choco modules
$env:ChocolateyInstall = Convert-Path "$((Get-Command choco).Path)\..\.."
Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
refreshenv | Out-Null

gsudo choco upgrade all -y

$packages = @(
  "7zip"
  "bat"
  "choco-cleaner"
  "dos2unix"
  "ffmpeg"
  "firefox"
  "git"
  "imagemagick"
  "microsoft-windows-terminal"
  "nerd-fonts-firacode"
  "nerd-fonts-hack"
  "python310"
  "starship"
  "vnc-viewer"
  "vscode"
  "windirstat"
  "winget"
)

if (!(((Get-WmiObject Win32_ComputerSystem).model).Contains("Virtual") -or ((Get-WmiObject Win32_ComputerSystem).model).Contains("VMware"))) {
  $packages += @(
    "filezilla"
    "foxitreader"
    "gimp"
    "inkscape"
    "keepassxc"
    "qbittorrent"
    "virtualbox"
    "vlc"
  )
}

foreach ($package in $packages) {
  if ((choco list -e $package) -match "0 packages") {
    gsudo choco install $package -y
  }
}

# update choco modules
$env:ChocolateyInstall = Convert-Path "$((Get-Command choco).Path)\..\.."
Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
refreshenv | Out-Null

gsudo choco-cleaner.bat

# Add-EnvPath -Path C:\tools\msys64\usr\bin -Container User
# Add-EnvPath -Path C:\tools\msys64\usr\local\bin -Container User
# Add-EnvPath -Path C:\tools\msys64\mingw64\bin -Container User
Add-EnvPath -Path C:\Python310 -Container User
Add-EnvPath -Path C:\Python310\Scripts -Container User
Add-EnvPath -Path $env:HOME\.local\bin -Container User

# C:\tools\msys64\usr\bin\bash {{ .chezmoi.workingTree }}\.chezmoitemplates\install_msys.sh

$wingetPackages = @(
  "eza-community.eza"
)

$installedWingetPackages = winget list

foreach ($package in $wingetPackages) {
  if (!(Write-Output $installedWingetPackages | Select-String -Pattern $package)) {
    winget install $package --accept-package-agreements --accept-source-agreements
  }
}

refreshenv | Out-Null

$pyPackages = @(
  "black"
  "crudini"
  "isort"
)

$installedPyPackages = pip freeze

foreach ($package in $pyPackages) {
  if (!(Write-Output $installedPyPackages | Select-String -Pattern $package)) {
    gsudo pip install $package
  }
}
