# update choco modules
$env:ChocolateyInstall = Convert-Path "$((Get-Command choco).Path)\..\.."
Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
refreshenv | Out-Null

$extensions = @(
  "bmalehorn.vscode-fish"
  "bpruitt-goddard.mermaid-markdown-syntax-highlighting"
  "christian-kohler.path-intellisense"
  "codeium.codeium"
  "donjayamanne.githistory"
  "eamodio.gitlens"
  "editorconfig.editorconfig"
  "esbenp.prettier-vscode"
  "formulahendry.code-runner"
  "gruntfuggly.todo-tree"
  "hediet.vscode-drawio"
  "ibm.output-colorizer"
  "james-yu.latex-workshop"
  "janisdd.vscode-edit-csv"
  "jock.svg"
  "mechatroner.rainbow-csv"
  "mhutchie.git-graph"
  "mkhl.shfmt"
  "mrmlnc.vscode-duplicate"
  "ms-azuretools.vscode-docker"
  "ms-python.black-formatter"
  "ms-python.python"
  "ms-toolsai.jupyter"
  "ms-vscode.atom-keybindings"
  "ms-vscode.cmake-tools"
  "mushan.vscode-paste-image"
  "pkief.material-icon-theme"
  "ritwickdey.liveserver"
  "ryu1kn.partial-diff"
  "shd101wyy.markdown-preview-enhanced"
  "streetsidesoftware.code-spell-checker-portuguese-brazilian"
  "streetsidesoftware.code-spell-checker"
  "tamasfe.even-better-toml"
  "timonwong.shellcheck"
  "yzhang.markdown-all-in-one"
  "zhuangtongfa.material-theme"
)

$installed = code --list-extensions

foreach ($extension in $extensions) {
  if (!(echo $installed | Select-String -Pattern $extension)) {
    code --install-extension $extension
  }
}
