include "{{ .chezmoi.homeDir }}/.config/nanorc/apacheconf.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/arduino.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/asciidoc.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/asm.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/awk.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/c.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/clojure.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/cmake.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/coffeescript.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/colortest.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/conf.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/csharp.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/css.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/cython.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/dot.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/dotenv.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/email.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/Dockerfile.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/etc-hosts.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/fish.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/fortran.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/gentoo.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/git.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/gitcommit.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/glsl.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/go.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/gradle.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/groff.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/haml.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/haskell.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/html.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/html.j2.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/ical.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/ini.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/inputrc.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/jade.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/java.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/javascript.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/js.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/json.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/keymap.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/kickstart.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/kotlin.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/ledger.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/lisp.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/lua.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/makefile.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/man.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/markdown.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/mpdconf.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/mutt.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/nanorc.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/nginx.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/nmap.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/ocaml.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/patch.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/peg.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/perl.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/perl6.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/php.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/pkg-config.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/pkgbuild.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/po.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/pov.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/privoxy.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/puppet.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/pug.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/python.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/reST.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/rpmspec.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/ruby.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/rust.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/scala.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/sed.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/sh.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/sls.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/sql.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/svn.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/swift.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/systemd.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/tcl.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/tex.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/vala.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/verilog.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/vi.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/xml.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/xresources.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/yaml.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/yum.nanorc"
include "{{ .chezmoi.homeDir }}/.config/nanorc/zsh.nanorc"

set afterends
set atblanks
set autoindent
#set breaklonglines
set emptyline
set indicator
set linenumbers
#set nohelp
set softwrap
set tabsize 4
set tabstospaces
set trimblanks
