{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

if command -v chezmoi &>/dev/null; then
  chezmoi completion fish
elif [ -f "${HOME}/.local/bin/chezmoi" ]; then
  "${HOME}/.local/bin/chezmoi" completion fish
fi
