{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

if command -v crudini &>/dev/null && command -v rclone &>/dev/null; then
  if [ ! -f "${HOME}/.config/rclone/rclone.conf" ]; then
    mkdir -p "${HOME}/.config/rclone"
    touch "${HOME}/.config/rclone/rclone.conf"
  fi

  source "${HOME}/.config/.env"

  # drive
  if ! crudini --get "${HOME}/.config/rclone/rclone.conf" drive &>/dev/null; then
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive type drive
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive scope drive
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive client_id "${DRIVE_CLIENT_ID}"
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive client_secret "${DRIVE_SECRET}"
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive token "${DRIVE_TOKEN}"
  fi

  # drive-rt
  if ! crudini --get "${HOME}/.config/rclone/rclone.conf" drive-rt &>/dev/null; then
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive-rt client_id "${DRIVE_RT_CLIENT_ID}"
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive-rt client_secret "${DRIVE_RT_SECRET}"
    crudini --set "${HOME}/.config/rclone/rclone.conf" drive-rt token "${DRIVE_RT_TOKEN}"
  fi

  # onedrive
  if ! crudini --get "${HOME}/.config/rclone/rclone.conf" onedrive &>/dev/null; then
    crudini --set "${HOME}/.config/rclone/rclone.conf" onedrive type onedrive
    crudini --set "${HOME}/.config/rclone/rclone.conf" onedrive drive_type personal
    crudini --set "${HOME}/.config/rclone/rclone.conf" onedrive drive_id "${ONEDRIVE_DRIVE_ID}"
    crudini --set "${HOME}/.config/rclone/rclone.conf" onedrive token "${ONEDRIVE_TOKEN}"
  fi
fi
