{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

if command -v termux-setup-storage &>/dev/null; then
  exit
fi

font="Iosevka Nerd Font"
font_size=9

# if command -v hwinfo >/dev/null; then
#   monitor=$(hwinfo --short --monitor | grep -v "monitor:")
#   case "$monitor" in
#   *27G2G4*)
#     font_size=8.5
#     ;;
#   esac
# fi

if command -v kwriteconfig5 &>/dev/null; then
  # dolphin
  kwriteconfig5 --file dolphinrc --group General --key AutoExpandFolders true
  kwriteconfig5 --file dolphinrc --group General --key BrowseThroughArchives false
  kwriteconfig5 --file dolphinrc --group General --key ConfirmClosingMultipleTabs false
  kwriteconfig5 --file dolphinrc --group General --key GlobalViewProps false
  kwriteconfig5 --file dolphinrc --group General --key RememberOpenedTabs false
  kwriteconfig5 --file dolphinrc --group General --key ShowSelectionToggle false
  kwriteconfig5 --file dolphinrc --group General --key ShowToolTips true
  kwriteconfig5 --file dolphinrc --group General --key ShowZoomSlider false
  kwriteconfig5 --file dolphinrc --group MainWindow --key MenuBar Disabled
  kwriteconfig5 --file dolphinrc --group MainWindow --key ToolBarsMovable Disabled
  kwriteconfig5 --file dolphinrc --group PreviewSettings --key Plugins \
    "appimagethumbnail,audiothumbnail,blenderthumbnail,comicbookthumbnail,djvuthumbnail,\
ebookthumbnail,exrthumbnail,directorythumbnail,fontthumbnail,imagethumbnail,jpegthumbnail,\
kraorathumbnail,windowsexethumbnail,windowsimagethumbnail,mobithumbnail,opendocumentthumbnail,\
gsthumbnail,rawthumbnail,svgthumbnail,ffmpegthumbs"
  kwriteconfig5 --file "${HOME}/.local/share/dolphin/view_properties/global/.directory" --group Settings --key HiddenFilesShown true

  # konsole
  kwriteconfig5 --file konsolerc --group "Desktop Entry" --key DefaultProfile "My Profile.profile"
  kwriteconfig5 --file konsolerc --group KonsoleWindow --key ShowMenuBarByDefault false
  kwriteconfig5 --file konsolerc --group MainWindow --key MenuBar Disabled
  kwriteconfig5 --file konsolerc --group MainWindow --key ToolBarsMovable Disabled

  # kcminputrc
  kwriteconfig5 --file kcminputrc --group Keyboard --key NumLock 0
  kwriteconfig5 --file kcminputrc --group Mouse --key X11LibInputXAccelProfileFlat true
  kwriteconfig5 --file kcminputrc --group Mouse --key cursorTheme Sweet-cursors

  # kscreenlockerrc
  kwriteconfig5 --file kscreenlockerrc --group Daemon --key Autolock false

  # ksplashrc
  kwriteconfig5 --file ksplashrc --group KSplash --key Theme Catppuccin-Mocha-Lavender

  # okularpartrc
  kwriteconfig5 --file okularpartrc --group General --key ShellOpenFileInTabs true
  kwriteconfig5 --file okularpartrc --group PageView --key MouseMode RectSelect

  # kwinrc
  kwriteconfig5 --file kwinrc --group PageView --key MouseMode RectSelect

  # kdeglobals
  kwriteconfig5 --file kdeglobals --group General --key fixed "${font},${font_size},-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key font "${font},${font_size},-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key menuFont "${font},${font_size},-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key smallestReadableFont "${font},7,-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key toolBarFont "${font},${font_size},-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group WM --key activeFont "${font},${font_size},-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Automatically select filename extension" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Show Inline Previews" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Show hidden files" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort by" Name
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort directories first" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort hidden files last" false
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort reversed" false
  kwriteconfig5 --file kdeglobals --group Icons --key Theme beautyline
  kwriteconfig5 --file kdeglobals --group KDE --key LookAndFeelPackage Catppuccin-Mocha-Lavender
  kwriteconfig5 --file kdeglobals --group KDE --key SingleClick false

  # ksplash
  kwriteconfig5 --file ksplashrc --group KSplash --key Theme Catppuccin-Mocha-Lavender-splash

  # ksmserverrc
  kwriteconfig5 --file ksmserverrc --group General --key loginMode emptySession

  # touchpad
  for group in "DELL0AB0:00 04F3:3147 Touchpad" "Synaptics s3203"; do
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key clickMethodAreas false
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key clickMethodClickfinger true
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key naturalScroll true
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key pointerAcceleration 0.4
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key tapToClick true
  done
fi

if command -v crudini &>/dev/null; then
  #   # trolltech
  #   if ! [ -f "${HOME}/.config/Trolltech.conf" ]; then
  #     touch "${HOME}/.config/Trolltech.conf"
  #   fi
  #   crudini --set ${HOME}/.config/Trolltech.conf qt font "${font},${font_size},-1,5,50,0,0,0,0,0"
  #
  #   # gtk
  #   if ! [ -f "${HOME}/.config/gtk-3.0/settings.ini" ]; then
  #     mkdir -p "${HOME}/.config/gtk-3.0"
  #     touch "${HOME}/.config/gtk-3.0/settings.ini"
  #   fi
  #   if ! [ -f "${HOME}/.config/gtk-4.0/settings.ini" ]; then
  #     mkdir -p "${HOME}/.config/gtk-4.0"
  #     touch "${HOME}/.config/gtk-4.0/settings.ini"
  #   fi
  #   crudini --set ${HOME}/.config/gtk-3.0/settings.ini Settings gtk-font-name "${font}, ${font_size}"
  #   crudini --set ${HOME}/.config/gtk-4.0/settings.ini Settings gtk-font-name "${font}, ${font_size}"

  # qt 5
  if ! [ -f "${HOME}/.config/qt5ct/qt5ct.conf" ]; then
    mkdir -p "${HOME}/.config/qt5ct"
    touch "${HOME}/.config/qt5ct/qt5ct.conf"
  fi
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Fonts general "\"${font},${font_size},-1,5,50,0,0,0,0,0,Regular\""
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Fonts fixed "\"${font},${font_size},-1,5,50,0,0,0,0,0,Regular\""
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Appearance color_scheme_path "${HOME}/.config/qt5ct/colors/catppuccin-mocha-lavender.conf"
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Appearance custom_palette true
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Appearance icon_theme beautyline
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Appearance standard_dialogs default
  crudini --set ${HOME}/.config/qt5ct/qt5ct.conf Appearance style kvantum-dark

  # qt 6
  if ! [ -f "${HOME}/.config/qt6ct/qt6ct.conf" ]; then
    mkdir -p "${HOME}/.config/qt6ct"
    touch "${HOME}/.config/qt6ct/qt6ct.conf"
  fi
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Fonts general "\"${font},${font_size},-1,5,50,0,0,0,0,0,Regular\""
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Fonts fixed "\"${font},${font_size},-1,5,50,0,0,0,0,0,Regular\""
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Appearance color_scheme_path "${HOME}/.config/qt5ct/colors/catppuccin-mocha-lavender.conf"
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Appearance custom_palette true
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Appearance icon_theme beautyline
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Appearance standard_dialogs default
  crudini --set ${HOME}/.config/qt6ct/qt6ct.conf Appearance style kvantum-dark
fi

if command -v gsettings &>/dev/null; then
  gsettings set org.gnome.desktop.interface gtk-theme catppuccin-mocha-lavender
  gsettings set org.gnome.desktop.interface icon-theme beautyline
fi
