{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

{{ if ne .osid "android" }}
TEMP_FOLDER=$(mktemp -d)
trap 'rm -rf "${TEMP_FOLDER}"' EXIT

PATH="/usr/local/texlive/bin/x86_64-linux:${PATH}"
TEXDIR=/usr/local/texlive
TEXMFDIST_ARCH=/usr/share/texmf-dist # texlive install dir on arch linux

if [ -d "${TEXDIR}" ]; then
  (
    cd "${TEMP_FOLDER}"
    wget --timeout=10 --tries=2 -q -O "install-tl-unx.tar.gz" "https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz" || exit 0
    mkdir install-tl
    tar -xzf install-tl-unx.tar.gz -C install-tl --strip-components=1
    TEXLIVE_MIRROR_VERSION="$(install-tl/install-tl --version | grep version | sed -n 's/.*version //p')"
    if ! tex --version | grep -qi "tex \?live ${TEXLIVE_MIRROR_VERSION}"; then
      echo "Texlive is outdated! Please update to latest version = ${TEXLIVE_MIRROR_VERSION}." >&2
    fi
  )
fi

if ! [ -d "${TEXDIR}" ] && ! [ -d "${TEXMFDIST_ARCH}" ] && [ -f "${TEMP_FOLDER}/install-tl/install-tl" ]; then
  (
    cd "${TEMP_FOLDER}"
    sudo ./install-tl/install-tl --profile="{{ .chezmoi.sourceDir }}/assets/texlive/texlive.profile"
  )
fi

if [ -f "${TEXMFDIST_ARCH}/scripts/texlive/tlmgr.pl" ]; then
  sudo sed -i 's/\$Master = "\$Master\/..\/..";/\$Master = "\$Master\/..\/..\/..";/' "${TEXMFDIST_ARCH}/scripts/texlive/tlmgr.pl"
fi

if ! [ -d "${HOME}/texmf" ]; then
  tlmgr --usermode init-usertree
  tlmgr --usermode option repository 'https://mirrors.ctan.org/systems/texlive/tlnet'
fi

packageList=(
  collection-bibtexextra
  collection-fontsrecommended
  collection-langportuguese
  collection-latex
  collection-latexextra
  collection-latexrecommended
  collection-pictures
  collection-pstricks
  collection-publishers
  collection-mathscience
  collection-xetex
  biber
  biblatex
  latexmk
)

for package in "${packageList[@]}"; do
  if tlmgr list --only-installed "${package}" 2>/dev/null | grep installed | grep -qi no &>/dev/null; then
    sudo /usr/local/texlive/bin/x86_64-linux/tlmgr install "${package}"
  fi
done
{{ end }}
