{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

{{- if ne .osid "android" }}
locale="/etc/locale.conf"

sudo "${HOME}/.local/bin/set-val" LC_ALL pt_BR.UTF-8 "${locale}"
sudo "${HOME}/.local/bin/set-val" LANG en_US.UTF-8 "${locale}"
sudo "${HOME}/.local/bin/set-val" LC_MEASUREMENT C "${locale}"
sudo "${HOME}/.local/bin/set-val" LC_MONETARY C "${locale}"
sudo "${HOME}/.local/bin/set-val" LC_NUMERIC C "${locale}"
sudo "${HOME}/.local/bin/set-val" LC_TIME pt_BR.UTF-8 "${locale}"

if ! localedef --list-archive | grep -q "en_US.utf8" || ! localedef --list-archive | grep -q "pt_BR.utf8"; then
  sudo sed -e '/en_US.UTF-8/s/^#*//g' -i /etc/locale.gen
  sudo sed -e '/pt_BR.UTF-8/s/^#*//g' -i /etc/locale.gen

  sudo locale-gen &>/dev/null
fi
{{ end }}
