{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

if command -v kwriteconfig5 &>/dev/null; then
  # dolphin
  kwriteconfig5 --file dolphinrc --group General --key AutoExpandFolders true
  kwriteconfig5 --file dolphinrc --group General --key BrowseThroughArchives false
  kwriteconfig5 --file dolphinrc --group General --key ConfirmClosingMultipleTabs false
  kwriteconfig5 --file dolphinrc --group General --key RememberOpenedTabs false
  kwriteconfig5 --file dolphinrc --group General --key ShowToolTips true
  kwriteconfig5 --file dolphinrc --group General --key ShowZoomSlider false
  kwriteconfig5 --file dolphinrc --group MainWindow --key MenuBar Disabled
  kwriteconfig5 --file dolphinrc --group MainWindow --key ToolBarsMovable Disabled
  kwriteconfig5 --file dolphinrc --group PreviewSettings --key Plugins \
    "appimagethumbnail,audiothumbnail,blenderthumbnail,comicbookthumbnail,djvuthumbnail,\
ebookthumbnail,exrthumbnail,directorythumbnail,fontthumbnail,imagethumbnail,jpegthumbnail,\
kraorathumbnail,windowsexethumbnail,windowsimagethumbnail,mobithumbnail,opendocumentthumbnail,\
gsthumbnail,rawthumbnail,svgthumbnail,ffmpegthumbs"
  kwriteconfig5 --file "${HOME}/.local/share/dolphin/view_properties/global/.directory" --group Settings --key HiddenFilesShown true

  # konsole
  kwriteconfig5 --file konsolerc --group "Desktop Entry" --key DefaultProfile "My profile.profile"
  kwriteconfig5 --file konsolerc --group KonsoleWindow --key ShowMenuBarByDefault false
  kwriteconfig5 --file konsolerc --group MainWindow --key MenuBar Disabled
  kwriteconfig5 --file konsolerc --group MainWindow --key ToolBarsMovable Disabled

  # kcminputrc
  kwriteconfig5 --file kcminputrc --group Keyboard --key NumLock 0
  kwriteconfig5 --file kcminputrc --group Mouse --key X11LibInputXAccelProfileFlat true
  kwriteconfig5 --file kcminputrc --group Mouse --key cursorTheme Sweet-cursors

  # kscreenlockerrc
  kwriteconfig5 --file kscreenlockerrc --group Daemon --key Autolock false
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/kscreenlockerrc" --group Greeter --key Theme Sweet

  # ksplashrc
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/ksplashrc" --group KSplash --key Theme Sweet

  # okularpartrc
  kwriteconfig5 --file okularpartrc --group General --key ShellOpenFileInTabs true
  kwriteconfig5 --file okularpartrc --group PageView --key MouseMode RectSelect

  # kwinrc
  kwriteconfig5 --file kwinrc --group PageView --key MouseMode RectSelect
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/kwinrc" --group org.kde.kdecoration2 --key theme __aurorae__svg__Sweet-Dark

  # kdeglobals
  kwriteconfig5 --file kdeglobals --group General --key font "Fira Sans,9,-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key menuFont "Fira Sans,10,-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key smallestReadableFont "Fira Sans,8,-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group General --key toolBarFont "Fira Sans,10,-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group WM --key activeFont "Fira Sans,10,-1,5,50,0,0,0,0,0"
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Automatically select filename extension" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Show Inline Previews" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Show hidden files" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort by" Name
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort directories first" true
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort hidden files last" false
  kwriteconfig5 --file kdeglobals --group "KFileDialog Settings" --key "Sort reversed" false
  kwriteconfig5 --file kdeglobals --group Icons --key Theme beautyline
  kwriteconfig5 --file kdeglobals --group KDE --key LookAndFeelPackage Sweet
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/kdeglobals" --group General --key ColorScheme Sweet
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/kdeglobals" --group Icons --key Theme candy-icons
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/kdeglobals" --group KDE --key widgetStyle kvantum

  # ksmserverrc
  kwriteconfig5 --file ksmserverrc --group General --key loginMode emptySession

  # plasmarc
  kwriteconfig5 --file "${HOME}/.config/kdedefaults/plasmarc" --group Theme --key name Sweet

  # gtk
  kwriteconfig5 --file "${HOME}/.config/gtk-3.0/settings.ini" --group Settings --key gtk-font-name "Fira Sans,  10"
  kwriteconfig5 --file "${HOME}/.config/gtk-4.0/settings.ini" --group Settings --key gtk-font-name "Fira Sans,  10"

  # touchpad
  for group in "DELL0AB0:00 04F3:3147 Touchpad" "Synaptics s3203"; do
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key clickMethodAreas false
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key clickMethodClickfinger true
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key naturalScroll true
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key pointerAcceleration 0.4
    kwriteconfig5 --file touchpadxlibinputrc --group "${group}" --key tapToClick true
  done

  # trolltech
  if command -v crudini &>/dev/null; then
    if [ -f "${HOME}/.config/Trolltech.conf" ]; then
      touch "${HOME}/.config/Trolltech.conf"
    fi
    crudini --set ${HOME}/.config/Trolltech.conf qt font "Fira Sans,9,-1,5,50,0,0,0,0,0"
  fi

  # konsolerc
  kwriteconfig5 --file konsolerc --group "Desktop Entry" --key DefaultProfile "My profile.profile"
  kwriteconfig5 --file konsolerc --group MainWindow --key MenuBar Disabled
fi

# # https://www.reddit.com/r/kde/comments/g986ql/comment/fov5aql/
if command -v kbuildsycoca5 &>/dev/null && command -v dbus-send &>/dev/null; then
  rm -f "${HOME}/.cache/*.kcache"
  for i in $(seq 0 9); do
    dbus-send --session --type=signal /KGlobalSettings org.kde.KGlobalSettings.notifyChange int32:${i} int32:0
  done
  for i in $(seq 0 5); do
    dbus-send --session --type=signal /KIconLoader org.kde.KIconLoader.iconChanged int32:${i}
  done
  dbus-send --session --type=signal /KWin org.kde.KWin.reloadConfig
  kbuildsycoca5 &>/dev/null
  (kquitapp5 plasmashell || killall plasmashell && kstart5 plasmashell) &>/dev/null
fi
