{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

{{ if eq .osid "linux-arch" }}
TEXMFDIST=/usr/share/texmf-dist
if [ -f "${TEXMFDIST}/scripts/texlive/tlmgr.pl" ]; then
  sudo sed -i 's/\$Master = "\$Master\/..\/..";/\$Master = "\$Master\/..\/..\/..";/' "${TEXMFDIST}/scripts/texlive/tlmgr.pl"
  if ! [ -d "${HOME}/texmf" ]; then
    tlmgr="$TEXMFDIST/scripts/texlive/tlmgr.pl --usermode"
    ${tlmgr} init-usertree
    ${tlmgr} option repository 'https://mirrors.ctan.org/systems/texlive/tlnet'
  fi
fi
{{ end }}
