{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

TEMP_FOLDER=$(mktemp -d)
trap 'rm -rf "${TEMP_FOLDER}"' EXIT

{{ if and (not .isWSL) (ne .osid "android") (.installDE) }}
# theme
if ! [ -d "${HOME}/.local/share/plasma/desktoptheme/Sweet" ]; then
  mkdir -p "${HOME}/.local/share/icons"
  git -C "${TEMP_FOLDER}" clone --depth 1 -b nova https://github.com/EliverLara/sweet
  (
    cd "${TEMP_FOLDER}/sweet/kde"
    mkdir -p aurorae/themes
    mv aurorae/Sweet-Dark aurorae/themes/Sweet-Dark
    mv aurorae/Sweet-Dark-transparent aurorae/themes/Sweet-Dark-transparent
    rm aurorae/.shade.svg
    mv colorschemes color-schemes
    mkdir -p plasma/look-and-feel
    mv look-and-feel plasma/look-and-feel/Sweet
    mv sddm sddm-Sweet
    mkdir -p sddm/themes
    mv sddm-Sweet sddm/themes/Sweet

    # cursors
    cp -af cursors/Sweet-cursors "${HOME}/.local/share/icons"

    # kvantum
    cp -af Kvantum "${HOME}/.local/share"

    # KDE theme
    cp -af aurorae "${HOME}/.local/share"
    cp -af color-schemes "${HOME}/.local/share"
    cp -af konsole "${HOME}/.local/share"
    cp -af plasma "${HOME}/.local/share"
    sudo cp -af sddm /usr/share
  )

  mkdir -p "${HOME}/.local/share/plasma/desktoptheme/Sweet"
  git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/EliverLara/sweet-kde
  cp -af "${TEMP_FOLDER}/sweet-kde"/* "${HOME}/.local/share/plasma/desktoptheme/Sweet"
fi

if ! [ -d "${HOME}/.local/share/plasma/look-and-feel/Catppuccin-Mocha-Lavender" ]; then
  git clone https://github.com/catppuccin/kde "${TEMP_FOLDER}/catppuccin-kde"
  (
    cd "${TEMP_FOLDER}/catppuccin-kde"
    if command -v plasmashell &>/dev/null && plasmashell --version | grep -q "plasmashell 5"; then
      git checkout v0.2.5 &>/dev/null
    fi
    yes | ./install.sh 1 14 1 || : # Catppuccin-Mocha-Lavender
  )
fi


if ! [ -d "${HOME}/.local/share/plasma/desktoptheme/lightly-plasma-git" ]; then
  git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/doncsugar/lightly-plasma
  (
    cd "${TEMP_FOLDER}/lightly-plasma"
    cp -r src/* lightly-plasma-git
    mkdir -p "${HOME}/.local/share/plasma/desktoptheme"
    cp -r lightly-plasma-git "${HOME}/.local/share/plasma/desktoptheme"
  )
fi

# blur
if [ ! -d /usr/share/kwin/scripts/forceblur ]; then
  git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/esjeon/kwin-forceblur
  sudo mkdir -p /usr/share/kwin/scripts/forceblur
  sudo cp -r "${TEMP_FOLDER}/kwin-forceblur/"{contents/,LICENSE,image.png,metadata.desktop} /usr/share/kwin/scripts/forceblur/
  sudo install -Dm644 "${TEMP_FOLDER}/kwin-forceblur/metadata.desktop" /usr/share/kservices5/kwin-script-forceblur.desktop
fi

# applets
if ! [ -d /usr/share/plasma/plasmoids/org.kde.windowbuttons ]; then
  git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/psifidotos/applet-window-buttons.git
  (
    cd "${TEMP_FOLDER}/applet-window-buttons"
    sh ./install.sh
  )
fi

if ! [ -d /usr/share/plasma/plasmoids/org.kde.windowappmenu ]; then
  git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/psifidotos/applet-window-appmenu.git
  (
    cd "${TEMP_FOLDER}/applet-window-appmenu"
    sh ./install.sh
  )
fi

if ! [ -d /usr/share/plasma/plasmoids/org.kde.windowtitle ]; then
  git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/psifidotos/applet-window-title.git
  (
    cd "${TEMP_FOLDER}/applet-window-title"
    sudo kpackagetool5 --global --install .
  )
fi

# # wallpaper
# if ! [ -f /usr/share/wallpapers/Shani.png ]; then
#   sudo cp "{{ .chezmoi.sourceDir }}/assets/Shani.png" /usr/share/wallpapers
# fi

# apply
# if [[ "$(tty)" == /dev/pts/* ]]; then
#   lookandfeeltool -a Catppuccin-Mocha-Lavender &>/dev/null || :

#   { command -v plasma-changeicons &>/dev/null && plasma-changeicons beautyline &>/dev/null; } ||
#     { [ -x /usr/lib/x86_64-linux-gnu/libexec/plasma-changeicons ] && /usr/lib/x86_64-linux-gnu/libexec/plasma-changeicons beautyline &>/dev/null; } &>/dev/null ||
#     { [ -x /usr/lib/plasma-changeicons ] && /usr/lib/plasma-changeicons beautyline &>/dev/null; } &>/dev/null || :

#   plasma-apply-wallpaperimage "${HOME}/.local/share/wallpapers/Shani.png" &>/dev/null || :
# fi
{{ end }}
