{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

{{ if ne .osid "android" }}
if command -v grub-mkconfig &>/dev/null; then
  sudo "${HOME}/.local/bin/set-val" GRUB_DEFAULT 0 /etc/default/grub
  sudo "${HOME}/.local/bin/set-val" GRUB_TIMEOUT 3 /etc/default/grub
  sudo "${HOME}/.local/bin/set-val" GRUB_RECORDFAIL_TIMEOUT '${GRUB_TIMEOUT}' /etc/default/grub

  sudo grub-mkconfig -o /boot/grub/grub.cfg &>/dev/null
fi
{{ end }}
