{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

if ! command -v age &>/dev/null; then
  {{ if or (eq .osid "linux-ubuntu") (eq .osidLike "linux-ubuntu") (eq .osid "linux-debian") }}
  sudo apt install -y age
  {{ else if eq .osid "android" }}
  apt install age
  {{ else if eq .osidLike "linux-arch" }}
  sudo pacman -S --noconfirm --needed age
  {{ else }}
  :
  {{ end }}
fi

if [ ! -f "${HOME}/.config/key.txt" ]; then
  age --decrypt --output "${HOME}/.config/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/key.txt"
fi
