{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

CRONTAB=$(<${HOME}/.config/env)
CRONTAB+=$(
  cat <<'EOF'

{{ if eq .osid "android" -}}
SHELL=/data/data/com.termux/files/usr/bin/bash
{{ else -}}
SHELL=/bin/bash
{{- end }}

@reboot rm -rf "${HOME}/.cache/{mozilla,thumbnails,plasmashell,*.kcache,ksycoca5*}" >/dev/null 2>&1
@reboot fish -c 'fisher update' >/dev/null 2>&1
{{- if eq .osid "android" }}
0 * * * * find "${HOME}/storage/shared/Android/media/com.whatsapp/WhatsApp/Databases/" -type f ! -name msgstore.db.crypt14 -delete >/dev/null 2>&1
{{- else }}
@reboot sleep 5; "${HOME}/.local/bin/get-weather" "${HOME}/.cache/weather" >/dev/null 2>&1
*/20 * * * * "${HOME}/.local/bin/get-weather" "${HOME}/.cache/weather" >/dev/null 2>&1
{{- end }}
EOF
)

if command -v crontab &>/dev/null; then
  if ! [ "$(crontab -l 2>/dev/null)" = "${CRONTAB}" ]; then
    echo "${CRONTAB}" | crontab -
  fi
fi
