#{{- if ne .osid "android" -}}!/bin/bash{{- else -}}!/data/data/com.termux/files/usr/bin/bash{{ end }}
exit
if command -v nvim &>/dev/null && [ -d "$HOME/.local/share/nvim/mason/bin" ] ; then
  nvim --headless \
    -c 'autocmd User MasonUpdateAllComplete quitall' \
    -c 'Lazy! sync' \
    -c 'MasonUpdateAll' \
    &>/dev/null || :
fi

if command -v termux-fix-shebang &>/dev/null; then
  termux-fix-shebang ~/.local/share/nvim/mason/bin/*
fi
