{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu

{{ if or (eq .osid "linux-ubuntu") (eq .osidLike "linux-ubuntu") }}
{{   if .isWSL }}
{{     template "install_wsl.sh" . }}
{{   else }}
{{     template "install_ubuntu.sh" . }}
{{   end }}
{{ else if eq .osidLike "linux-arch" }}
{{   template "install_arch.sh" . }}
{{ else if eq .osidLike "android" }}
{{   template "install_termux.sh" . }}
{{ else if .isRasp }}
{{   template "install_rasp.sh" . }}
{{ end }}

{{ if not .isWork }}
# install mcfly
if ! command -v mcfly &>/dev/null && ! [ -f "$HOME/.local/bin/mcfly" ]; then
  curl -LSfs https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly --to "$HOME/.local/bin"
fi
{{ end }}

# install starship
if ! command -v starship &>/dev/null && ! [ -f "$HOME/.local/bin/starship" ]; then
  curl -sS https://starship.rs/install.sh | sh -s -- -y -b "$HOME/.local/bin"
fi

if grep -q "https" {{ .chezmoi.sourceDir }}/.git/config; then
  git -C {{ .chezmoi.sourceDir }} remote set-url origin "git@github.com:haroldojunios/dotfiles.git"
fi

# set fish as default terminal
case "$SHELL" in
*bash)
  {{ if eq .osid "android" }}
  chsh -s fish
  {{ else }}
  sudo chsh -s $(command -v fish) $USER
  {{ end }}
  ;;
esac
