{{- if ne .osid "android" -}}
#!/bin/bash
{{- else -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end }}

set -eu


TEMP_FOLDER=$(mktemp -d)
trap 'rm -rf "${TEMP_FOLDER}"' EXIT

{{ if and (not .isWSL) (ne .osid "android") (.installDE) }}
if ! [ -d /usr/share/icons/beautyline ]; then
  sudo mkdir -p /usr/share/icons
  sudo git -C /usr/share/icons clone --depth 1 https://gitlab.com/garuda-linux/themes-and-settings/artwork/beautyline.git
fi

if ! [ -f /etc/sddm.conf ]; then
  sudo touch /etc/sddm.conf
fi

if [ -f /usr/share/sddm/themes/sddm-astronaut-theme/Themes/astronaut.conf ]; then
  sudo crudini --ini-options=nospace --set /etc/sddm.conf Theme Current sddm-astronaut-theme
fi

# if command -v libreoffice &>/dev/null; then
#   fname="${XDG_CONFIG_HOME:-$HOME/.config}"/libreoffice/*/user/registrymodifications.xcu
#   fname="$(realpath $fname)"
#
#   if  tail -n1 "$fname" | grep -E -q '^</oor:items>$'; then
#     git -C "${TEMP_FOLDER}" clone --depth 1 https://github.com/catppuccin/libreoffice.git
#     (
#       cd "${TEMP_FOLDER}/libreoffice/scripts"
#       chmod +x ./install_theme.sh
#       ./install_theme.sh mocha lavender
#     )
#   fi
# fi
{{ end }}
