html {
  font-size: 14pt;
  text-align: justify;
}

h1 {
  color: var(--mauve);
}

h2 {
  color: var(--blue);
}

h3 {
  color: var(--green);
}

h4 {
  color: var(--peach);
}

h5 {
  color: var(--yellow);
}

h6 {
  color: var(--pink);
}

strong {
  color: var(--lavender);
}

em {
  color: var(--sapphire);
}

mark em {
  color: var(--bg-primary);
}

blockquote {
  color: var(--mauve);
  border-left: 0.33em solid var(--mauve);
}

img {
  display: block;
  margin: auto;
}

body {
  counter-reset: level1;
}
h1 {
  counter-reset: level2;
}
h2 {
  counter-reset: level3;
}
h3 {
  counter-reset: level4;
}
h4 {
  counter-reset: level5;
}
h5 {
  counter-reset: level6;
}

h1:before {
  counter-increment: level1;
  content: counter(level1) ". ";
}

h2:before {
  counter-increment: level2;
  content: counter(level1) "." counter(level2) ". ";
}

h3:before {
  counter-increment: level3;
  content: counter(level1) "." counter(level2) "." counter(level3) ". ";
}

h4:before {
  counter-increment: level4;
  content: counter(level1) "." counter(level2) "." counter(level3) "."
    counter(level4) ". ";
}

h5:before {
  counter-increment: level5;
  content: counter(level1) "." counter(level2) "." counter(level3) "."
    counter(level4) "." counter(level5) ". ";
}

h6:before {
  counter-increment: level6;
  content: counter(level1) "." counter(level2) "." counter(level3) "."
    counter(level4) "." counter(level5) "." counter(level6) ". ";
}
