--[[
# Minimalis Conky 1.3
# Author : archit3x
# Release date : 4 December 2020
# Tested on : Archlinux ARM - XFCE Desktop
# Email : archit3x@archlinux.us
# Feel free to modity this script ;)
]]

conky.config = {
    alignment = 'middle_right',
    background = true,
    border_width = 1,
    cpu_avg_samples = 2,
    default_color = 'gray',
    default_outline_color = 'white',
    default_shade_color = 'white',
    color1 = '1793d1',
    double_buffer = true,
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    extra_newline = false,
    font = 'IosevkaTerm Nerd Font:size=10',
    gap_x = 20,
    gap_y = 0,
    minimum_height = 250,
    minimum_width = 350,
    net_avg_samples = 3,
    no_buffers = true,
    -- on_bottom = yes,
    out_to_console = false,
    out_to_ncurses = false,
    out_to_stderr = false,
    out_to_x = true,
    own_window = true,
    own_window_class = 'Conky',
    --own_window_transparent = false,
    own_window_argb_visual = true,
    own_window_argb_value = 128,
    own_window_colour = '000000',
    own_window_hints = 'undecorated,sticky,skip_taskbar,skip_pager,below',
    own_window_transparent = true,
    own_window_type = 'dock',
    show_graph_range = false,
    show_graph_scale = false,
    stippled_borders = 0,
    short_units = true,
    text_buffer_size = 10000,
    update_interval = 2,
    uppercase = false,
    use_spacer = 'none',
    use_xft = true,
}

{{- $symbols_font := "IosevkaTerm Nerd Font:size=20" }}
{{- $interface := (output "ip" "-4" "route" "ls" | regexFind "^default.*" | split " ")._4 }}
{{- $isWifi := stat (joinPath "/sys/class/net/" $interface "wireless") }}
{{- $nproc := output "nproc" | trim | int }}
{{- $nbits := output "getconf" "LONG_BIT" | trim | int }}
{{- $cpuIcon := "󰻠" }}
{{- if eq $nbits 32 }}
{{-   $cpuIcon = "󰻟" }}
{{- end }}
{{- $distroIcon := "" }}
{{ if .isRasp }}
{{-   $distroIcon = "" }}
{{- else if eq .osid "linux-ubuntu" }}
{{-   $distroIcon = "" }}
{{- else if eq .osid "linux-arch" }}
{{-   $distroIcon = "" }}
{{- end }}

conky.text = [[
${color1}${font {{ $symbols_font }}}{{ $distroIcon }} ${font} ${voffset -22} $hr${color}
${color1}${goto 35}OS: ${goto 88}${color}${execi 86400 cat `ls -atr /etc/*-release | tail -2` | grep "PRETTY_NAME" | cut -d= -f2 |  sed 's/"//g'}
${color1}${goto 35}Kernel: ${goto 88}${color}$kernel on $machine

${color1}${font {{ $symbols_font }}}{{ $cpuIcon }} ${font} ${voffset -22} $hr${color}
${color1}${goto 35}CPU: ${goto 70}${color}${execi 86400 cat /proc/cpuinfo | grep 'model name' | head -n1 | awk '{gsub(/model.*: /,"");print}'}
${color1}${goto 35}GPU: ${goto 70}${color}${execi 86400 lspci | grep -i 'vga' | awk '{gsub(/.*\[/,"");print}' | awk '{gsub(/\].*/,"");print}'}

${color1}${goto 35}CPU load: ${goto 82}${color}${alignr}${cpu cpu0}% ${cpubar cpu0 4,120}
{{ if le $nproc 20 -}}
{{ range $i := until $nproc -}}
${color1}${goto 35}CPU {{ add1 $i }}: ${goto 85}${color}${freq_g {{ add1 $i }}}GHz ${alignr}${cpu cpu{{ $i }}}% ${cpubar cpu{{ $i }} 4,120}
{{ end }}
{{ end -}}

${color1}${goto 35}Uptime: ${color}$uptime_short ${alignr}${color1}Load: ${color}${loadavg}

${color1}${font {{ $symbols_font }}} ${font} ${voffset -22} $hr${color}
${color1}${goto 35}CPU: ${color}${exec get-hardware-temp cpu} ${alignr}${color1}GPU: ${color}${exec get-hardware-temp gpu} ${alignr}

${color1}${font {{ $symbols_font }}}󰍛 ${font} ${voffset -22} $hr${color}
${color1}${goto 35}RAM:  ${color}$mem/$memmax ${alignr}$memperc% ${membar 4,100}
${color1}${goto 35}SWAP: ${color}$swap/$swapmax ${alignr}$swapperc% ${swapbar 4,100}

${color1}${font {{ $symbols_font }}} ${font} ${voffset -22} $hr${color}
${color1}${goto 35}CPU usage ${alignr}Memory Usage${color}
${color1}${goto 35}${stippled_hr}${color}
{{- range $i := untilStep 1 11 1 }}
${goto 35}${top name {{$i}}} ${color}${top cpu {{$i}}}% ${alignr}${top_mem name {{$i}}}${top_mem mem_res {{$i}}}
{{- end }}
${color1}${goto 35}Processes: ${color}$processes ${color1}Running: ${color}$running_processes

${color1}${font {{ $symbols_font }}}󰋊 ${font} ${voffset -22} $hr${color}
${color1}${goto 35}ROOT: ${color}${fs_used /}/${fs_size /} ${alignr}${fs_used_perc /}% ${fs_bar 4,100 /}
# ${color1}${goto 35}HOME: ${color}${fs_used /home}/${fs_size /home} ${alignr}${fs_used_perc /home}% ${fs_bar 4,100 /home}

${color1}${font {{ $symbols_font }}}󰛳 ${font} ${voffset -22} $hr${color}
{{- if $isWifi }}
${color1}${goto 35}SSID: ${color}${wireless_essid {{ $interface }}} ${color1}${alignr}Bitrate: ${alignr}${color}${wireless_bitrate {{ $interface }}}
${color1}${goto 35}Signal: ${alignr}${color}${wireless_link_qual_perc {{ $interface }}}% ${wireless_link_bar 4,150 {{ $interface }}}
{{- end }}
${color1}${goto 35}IP: ${goto 140}${color}${addr {{ $interface }}}
${color1}${goto 35}Total Down/Up: ${goto 140}${color}${totaldown {{ $interface }}}/${totalup {{ $interface }}}
${color1}${voffset 8}${goto 35}Speed Down: ${alignr}${color}${downspeed {{ $interface }}}B/s${voffset -12} ${downspeedgraph {{ $interface }} 25,150 1793d1 1793d1}
${voffset -12}
${color1}${voffset 8}${goto 35}Speed Up: ${alignr}${color}${upspeed {{ $interface }}}B/s${voffset -12} ${downspeedgraph {{ $interface }} 25,150 1793d1 1793d1}

${color1}${font {{ $symbols_font }}} ${font} ${voffset -22} $hr${color}
#${voffset 70}
${execp jq -r '.weather_summary' ${HOME}/.cache/weather | tr ',' '\n' | tr ':' '\n' | sed 's/^/${goto 35}/'}
${voffset -45}
]]
